<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Page</title>
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
</head>
<body>
    
    <header>
        <section id="hero">

            <div id="navdiv">
                <div id="title">
                    <span>TravelPoint.</span>
                </div>
    
                <div id="navbar">
                    <nav>
                        <a href="">Home</a>
                        <a href="/about">About</a>
                        <a href="/offers">Offers</a>
                        <a href="/news">News</a>
                        <a href="/contact">Contact</a>
                    </nav>
                </div>
    
                <div id="account">
                    <a href="/signup"><button>Signup</button></a>
                    <a href="/login"><button>Login</button></a>
                </div>
            </div>

            <div id="contact">Contact Us</div>
        </section>
    </header>

        <!-- Body Section -->
    <section id="body-section">

        <div id="head-left">
            <div class="heading">You can find us at</div>
            <div class="left-para">
                <p class="left-sub-para1">EMAIL</p>
                <p class="left-sub-para2">travel@gamil.com</p>
            </div>
            <div class="left-para">
                <p class="left-sub-para1">PHONE NUMBER</p>
                <p class="left-sub-para2">+917205378676</p>
            </div>
            <div class="left-para">
                <p class="left-sub-para1">LOCATION</p>
                <p class="left-sub-para2">Near Panjagutta, Ameerpet 500054</p>
            </div>
            <div>

            </div>
        </div>

        <div id="head-right">
            <div class="heading">Let's get in touch</div>
            <div class="right-input">
                <input type="text" placeholder="Your Name">
            </div>
            <div class="right-input">
                <input type="email" placeholder="Your Email">
            </div>
            <div class="right-input">
                <textarea>Message</textarea>
            </div>
            <div id="right-button">
                <button type="submit">Send Message</button>
            </div>
        </div>

    </section>

        <!-- Footer section -->

    <footer>

        <div class="footer_column" id="footer_column1">
            <span class="footer-title"><img src="{% static 'images/travelicon.png' %}" alt="" height="40px" width="40px"> ADVENTURE PLAN</span>
            <span>Your trusted partner for extraordinary travel experience of few years</span>
        </div>
        <div class="footer_column" id="footer_column2">
            <aside>
                <span class="footer-title"> Quick Links</span>
                <a href="/home" style="text-decoration: none; color: white;"><span> Home</span></a>
                <a href="/about" style="text-decoration: none; color: white;"><span> About</span></a>
                <a href="/offers" style="text-decoration: none; color: white;"><span> Offers</span></a>
                <a href="/news" style="text-decoration: none; color: white;"><span> Package</span></a>
                <a href="/contact" style="text-decoration: none; color: white;"><span> Contact</span></a>
            </aside>
        </div>
        <div class="footer_column" id="footer_column3">
            <span class="footer-title">Contact</span>
            <span>Near Panjagutta, Ameerpet 500054</span>
            <span class="bi bi-telephone">  +088 (246) 642-27-10</span>
            <span class="bi bi-envelope"> example@gmail.com</span>
        </div>
        <div class="footer_column" id="footer_column4">
            <span class="footer-title">Follow Us</span>
            <span>Instagram</span>
            <span>Twitter</span>
            <span>LinkedIn</span>
            <span>Facebook</span>
        </div>
    
        <div id="footer-copyright">
            <div id="footer-hr"></div>
            <div id="copyright">
                <p>Copyright © 2025 Travel Agency</p>
            </div>
        </div>
    </footer>

</body>
</html>