<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    
</head>
<body>
    
    <header>
        <section id="hero">

            <div id="navdiv">
                <div id="title">
                    <span>TravelPoint.</span>
                </div>
    
                <div id="navbar">
                    <nav>
                        <a href="">Home</a>
                        <a href="/about">About</a>
                        <a href="/offers">Offers</a>
                        <a href="/package">Package</a>
                        <a href="/contact">Contact</a>
                    </nav>
                </div>
    
                <div id="account">
                    <a href="#"><button class="bi bi-person"></button></a>
                    <a href="#"><button class="bi bi-cart"></button></a>
                </div>
            </div>

            <div id="head_font">
                <div id="header_head">Lets Vacation with</div>
                <div id="head_title">TRAVELPOINT.</div>
            </div>

        </section>
    </header>

            <!-- Section-1 -->
    <section id="section1">

        <div id="section1-head">
            <div id="section1-firsthead">ONE-OF-A-KIND VACATION PLANNING</div>
            <div id="section1-para">Make planning with TravelPoint</div>
        </div>

        <div id="section1-card">

            <div>
                <img src="{% static 'images/hotelimg.jpg' %}" alt="" width="80px" height="80px">
                <div class="card-head">Providing Perfect Hotels</div>
                <div class="card-subhead2">
                    <div>We are providing hotels and dermatory</div>
                    <div>Get luxurious and first class hotels</div>
                    <div>Stay with safe & genuine hotels</div>
                    <div></div>
                </div>

            </div>

            <div class="section2-img">
                <img src="{% static 'images/cabimg.jpg' %}" alt="" width="80px" height="80px">
                <div class="card-head">Providing Perfect Hotels</div>
                <div class="card-subhead2">
                    <div>We are providing hotels and dermatory</div>
                    <div>Get luxurious and first class hotels</div>
                    <div>Stay with safe & genuine hotels</div>
                    <div></div>
                </div>
            </div>

            <div class="section2-img">
                <img src="{% static 'images/guideimg.jpg' %}" alt="" width="80px" height="80px">
                <div class="card-head">Providing Perfect Hotels</div>
                <div class="card-subhead2">
                    <div>We are providing hotels and dermatory</div>
                    <div>Get luxurious and first class hotels</div>
                    <div>Stay with safe & genuine hotels</div>
                    <div></div>
                </div>
            </div>

            <div class="section2-img">
                <img src="{% static 'images/flightimg.jpg' %}" alt="" width="80px" height="80px">
                <div class="card-head">Providing Perfect Hotels</div>
                <div class="card-subhead2">
                    <div>We are providing hotels and dermatory</div>
                    <div>Get luxurious and first class hotels</div>
                    <div>Stay with safe & genuine hotels</div>
                    <div></div>
                </div>
            </div>

        </div>

    </section>

            <!-- Section-2 -->
    <section id="section2">

        <div id="section2_heading">
            <div>CHOOSE YOUR DESTINATION</div>
            <div>&</div>
            <div>BOOK WITH US</div>
        </div>
        
        <div id="section2_imgcard">
            <div id="section2_img1">
                <div>
                    <a href="#"><img src="{% static 'images/touristplace.jpg' %}" alt="" width="400px" height="450px"></a>
                </div>
                <p class="section2_imgcard_para">Attractive Tourist Places In India</p>
            </div>
            <div id="section2_img2">
                <a href="#"><img src="{% static 'images/puritemple.jpg' %}" alt="" width="400px" height="450px"></a>
                <p class="section2_imgcard_para" style="margin-left: 2.5em;">Famous Temple In India</p>
            </div>
        </div>

    </section>

    <!-- Ready for your holidays -->
     <section id="section3">

        <div id="section3-div1">

            <div class="section3-leftdiv">
                <div class="section3-leftdiv-img">
                    <img src="{% static 'images/packageplane.png' %}" alt="" width="40px" height="40px">
                </div>
                <div class="section3-leftdiv-head">Customized Packages</div>
                <div class="section3-leftdiv-para">
                    Tailor-made itineraries to suit your preferences and interests, ensuring a unique travel experience every time.
                </div>
                <hr class="section3-line">
            </div>

            <div class="section3-leftdiv">
                <div class="section3-leftdiv-img">
                    <img src="{% static 'images/guide.png' %}" alt="" width="40px" height="40px">
                </div>
                <div class="section3-leftdiv-head">Guide Support</div>
                <div class="section3-leftdiv-para">
                    Tailor-made itineraries to suit your preferences and interests, ensuring a unique travel experience every time.
                </div>
                <hr class="section3-line">
            </div>

            <div class="section3-leftdiv">
                <div class="section3-leftdiv-img">
                    <img src="{% static 'images/resort.png' %}" alt="" width="40px" height="40px">
                </div>
                <div class="section3-leftdiv-head">Luxury Vacations</div>
                <div class="section3-leftdiv-para">
                    Tailor-made itineraries to suit your preferences and interests, ensuring a unique travel experience every time.
                </div>
            </div>

        </div>

        <div id="seciton3-div2">
            <div id="section3-rightdiv-whyus"><span style="margin-left: 1em;">WHY US</span></div>
            <div class="section3-rightdiv-para">Crafting</div>
            <div class="section3-rightdiv-para" style="margin-top: -7%;">Unforgottable</div>
            <div class="section3-rightdiv-para" style="margin-top: -7%;">Journey</div>
        </div>

     </section>


            <!-- Review Section -->
    <section id="section-review">
        <div id="review-maindiv">
            
            <div class="review-card review-card1">
                <div class="review-img d-flex" >
                    <div class="review-card-img">
                        <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                    </div>
                    <div class="review-name-email">
                        <div class="review-name">John Deo</div>
                        <div class="review-email">johndeo@gmail.com</div>
                    </div>
                </div>
                <div class="review-para">
                    <p>With Travelpoint our last travel is very awesome. we are enjoy very much.</p>
                </div>
                <div class="review-rating">
                    <span class="review-ratingname">4.6</span>
                    <span class="rating">
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-half"></span>
                    </span>
                </div>
            </div>

            <div class="review-card review-card2">
                <div class="review-img d-flex" >
                    <div class="review-card-img">
                        <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                    </div>
                    <div class="review-name-email">
                        <div class="review-name">John Deo</div>
                        <div class="review-email">johndeo@gmail.com</div>
                    </div>
                </div>
                <div class="review-para">
                    <p>With Travelpoint our last travel is very awesome. we are enjoy very much.</p>
                </div>
                <div class="review-rating">
                    <span class="review-ratingname">4.6</span>
                    <span class="rating">
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-half"></span>
                    </span>
                </div>
            </div>

            <div class="review-card review-card3">
                <div class="review-img d-flex" >
                    <div class="review-card-img">
                        <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                    </div>
                    <div class="review-name-email">
                        <div class="review-name">John Deo</div>
                        <div class="review-email">johndeo@gmail.com</div>
                    </div>
                </div>
                <div class="review-para">
                    <p>With Travelpoint our last travel is very awesome. we are enjoy very much.</p>
                </div>
                <div class="review-rating">
                    <span class="review-ratingname">4.6</span>
                    <span class="rating">
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-half"></span>
                    </span>
                </div>
            </div>

            <div class="review-card review-card4">
                <div class="review-img d-flex" >
                    <div class="review-card-img">
                        <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                    </div>
                    <div class="review-name-email">
                        <div class="review-name">John Deo</div>
                        <div class="review-email">johndeo@gmail.com</div>
                    </div>
                </div>
                <div class="review-para">
                    <p>With Travelpoint our last travel is very awesome. we are enjoy very much.</p>
                </div>
                <div class="review-rating">
                    <span class="review-ratingname">4.6</span>
                    <span class="rating">
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-half"></span>
                    </span>
                </div>
            </div>

            <div class="review-card review-card5">
                <div class="review-img d-flex" >
                    <div class="review-card-img">
                        <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                    </div>
                    <div class="review-name-email">
                        <div class="review-name">John Deo</div>
                        <div class="review-email">johndeo@gmail.com</div>
                    </div>
                </div>
                <div class="review-para">
                    <p>With Travelpoint our last travel is very awesome. we are enjoy very much.</p>
                </div>
                <div class="review-rating">
                    <span class="review-ratingname">4.6</span>
                    <span class="rating">
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-half"></span>
                    </span>
                </div>
            </div>

            <div class="review-card review-card6">
                <div class="review-img d-flex" >
                    <div class="review-card-img">
                        <img src="{% static 'images/p1.jpg' %}" alt="" width="70px" height="70px">
                    </div>
                    <div class="review-name-email">
                        <div class="review-name">John Deo</div>
                        <div class="review-email">johndeo@gmail.com</div>
                    </div>
                </div>
                <div class="review-para">
                    <p>With Travelpoint our last travel is very awesome. we are enjoy very much.</p>
                </div>
                <div class="review-rating">
                    <span class="review-ratingname">4.6</span>
                    <span class="rating">
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-fill"></span>
                        <span class="bi bi-star-half"></span>
                    </span>
                </div>
            </div>
        
        </div>
    </section>

    

        <!-- Footer -->
    <footer>

        <div class="footer_column" id="footer_column1">
            <span class="footer-title"><img src="{% static 'images/travelicon.png' %}" alt="" height="40px" width="40px"> ADVENTURE PLAN</span>
            <span>Your trusted partner for extraordinary travel experience of few years</span>
        </div>
        <div class="footer_column" id="footer_column2">
            <aside>
                <span class="footer-title"> Quick Links</span>
                <a href="/home" style="text-decoration: none; color: white;"><span> Home</span></a>
                <a href="/about" style="text-decoration: none; color: white;"><span> About</span></a>
                <a href="/offers" style="text-decoration: none; color: white;"><span> Offers</span></a>
                <a href="/news" style="text-decoration: none; color: white;"><span> Package</span></a>
                <a href="/contact" style="text-decoration: none; color: white;"><span> Contact</span></a>
            </aside>
        </div>
        <div class="footer_column" id="footer_column3">
            <span class="footer-title">Contact</span>
            <span>Near Panjagutta, Ameerpet 500054</span>
            <span class="bi bi-telephone">  +088 (246) 642-27-10</span>
            <span class="bi bi-envelope"> example@gmail.com</span>
        </div>
        <div class="footer_column" id="footer_column4">
            <span class="footer-title">Follow Us</span>
            <span>Instagram</span>
            <span>Twitter</span>
            <span>LinkedIn</span>
            <span>Facebook</span>
        </div>
    
        <div id="footer-copyright">
            <div id="footer-hr"></div>
            <div id="copyright">
                <p>Copyright © 2025 Travel Agency</p>
            </div>
        </div>
    </footer>

</body>
</html>