<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>
<body>
    
    <header>
        <section id="hero">

            <div id="navdiv">
                <div id="title">
                    <span>TravelPoint.</span>
                </div>
    
                <div id="navbar">
                    <nav>
                        <a href="/home">Home</a>
                        <a href="/about">About</a>
                        <a href="/offers">Offers</a>
                        <a href="/news">News</a>
                        <a href="/contact">Contact</a>
                    </nav>
                </div>
    
                <div id="account">
                    <a href="/signup"><button>Signup</button></a>
                    <a href="/login"><button>Login</button></a>
                </div>
            </div>

            <section id="section2">
                <main>
                    <span id="subhead1">Hawaii</span>
                    <span id="subhead2">From $980</span>
                    <button id="headbutton">More info</button>
                </main>
            </section>
        </section>
    </header>

    <section id="body_section2">

        <div id="body_sectiondiv">
            <span>Fantastic Holidays in</span>
        </div>

        <div id="body_card">

            <div id="card1">
                <span>Best Price <span id="card2">Guarantee</span></span>
                <p>We are organise your holidays with in your affodable budget</p>
            </div>

            <div class="card">
                <span>Travellers Love Us</span>
                <p>Your travel goes enjoyfull and safely own by us</p>
            </div>

            <div class="card">
                <span>Best Travel Agent</span>
                <p>We are always provides best guide to enjoy your travel and behave like a friend</p>
            </div>

            <div class="card">
                <span>Our Dedicated Support</span>
                <p>We are always touch with you during your journey</p>
            </div>
        </div>
    </section>

    <footer>

    </footer>

</body>
</html>