<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap-icons/font/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'node_modules/bootstrap/dist/css/bootstrap.css' %}">
    
</head>
<body>
    
    <header>
        <section id="hero">

            <div id="navdiv">
                <div id="title">
                    <span>TravelPoint.</span>
                </div>
    
                <div id="navbar">
                    <nav>
                        <a href="/home">Home</a>
                        <a href="/about">About</a>
                        <a href="/offers">Offers</a>
                        <a href="/news">News</a>
                        <a href="/contact">Contact</a>
                    </nav>
                </div>
    
                <div id="account">
                    <a href="/signup"><button>Signup</button></a>
                    <a href="/login"><button>Login</button></a>
                </div>
            </div>

            <section id="section2">
                <main>
                    <span id="subhead1">Hawaii</span>
                    <span id="subhead2">From $980</span>
                    <a href="/login"><button id="headbutton">More info <span class="bi bi-chevron-right"></span></button></a>
                </main>
            </section>
        </section>
    </header>

    <section>

        <div id="section2_head1">
            <span id="section2_head">Fantastic Holidays in</span>
        </div>

        <div class="d-flex" id="section2_div1">
            <div id="card_1">
                <div id="card1_div1">
                    <img src="{% static 'images/guarantee.png' %}" alt="" width="50px" height="50px">
                </div>
                <div class="card_head">Best Price <div class="card-subhead">Guarantee</div></div>
                <div class="card-subhead2">We are organise your holidays with in your affodable budget</div>
            </div>

            <div id="card_2">
                <div id="card1_div1">
                    <img src="{% static 'images/love.png' %}" alt="" width="50px" height="50px">
                </div>
                <div class="card_head">Travellers Love Us</div>
                <div class="card-subhead2">Your travel goes enjoyfull and safely own by us</div>
            </div>
            <div id="card_3">
                <div id="card1_div1">
                    <img src="{% static 'images/user.png' %}" alt="" width="50px" height="50px">
                </div>
                <div class="card_head">Best Travel Agent</div>
                <div class="card-subhead2">We are always provides best guide to enjoy your travel and behave like a friend</div>
            </div>
            <div id="card_4">
                <div id="card1_div1">
                    <img src="{% static 'images/customer-support.png' %}" alt="" width="50px" height="50px">
                </div>
                <div class="card_head">Our Dedicated <div class="card-subhead">Support</div></div>
                <div class="card-subhead2">We are always touch with you during your journey</div>
            </div>
        </div>

    </section>

    <footer>

    </footer>

</body>
</html>