<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Offer Details</title>
    <link rel="stylesheet" href="{% static 'css/offer.css' %}">
</head>
<body>
    <section>
        <div id="navdiv">
            <div id="title">
                <span>TravelPoint.</span>
            </div>

            <div id="navbar">
                <nav>
                    <a href="/home">Home</a>
                    <a href="/about">About</a>
                    <a href="/offers">Offers</a>
                    <a href="/package">Package</a>
                    <a href="/contact">Contact</a>
                </nav>
            </div>

            <div id="account">
                <a href="/signup"><button>Signup</button></a>
                <a href="/login"><button>Login</button></a>
            </div>
        </div>
    </section>

    <div id="offer-container">

        <div id="offer_text">
            <div id="offer_text1">Exclusive Offer</div>
            <div id="offer_text2">Cleaning From &#8377; 4999</div>
            <div id="offer_text3">And Get <span id="offer_off">15 % Off</span></div>
            <div id="offer_text4">Coupon Code Will Be Applied Automatically</div>
        </div>

        <div id="offer_form" style="background: white;">
            <div id="offer_head1">Book This Form To</div>
            <div id="offer_head2">Take This Offer</div>
                <form>
                    <div>
                        <input type="email" placeholder="Enter email" required>
                    </div>
                    <div id="form_div2">
                        <input type="text" placeholder="Cupon Code">
                    </div>
                    <div id="form_book">
                        <button type="submit">Book Now</button>
                    </div>
                </form>
            <div id="offer_para">
                <div id="offer_para1">By submitting, I agree to receive updates & <div class="para-gap">exclusive offers from MyBusinessName.</div></div>
                <div id="offer_para2">For more details see <a href="#">Terms of Use</a>.</div>
                <div id="offer_para3">Coupon code will be applied automatically. <div  class="para-gap">Use of the offer only cupon code available</div> <div class="para-gap">minimum of 1 or 3 months on a weekly.</div></div>
            </div>
        </div>

    </div>

    <!-- footer -->

    <footer>

        <div class="footer_column" id="footer_column1">
            <span class="footer-title"><img src="{% static 'images/travelicon.png' %}" alt="" height="40px" width="40px"> ADVENTURE PLAN</span>
            <span>Your trusted partner for extraordinary travel experience of few years</span>
        </div>
        <div class="footer_column" id="footer_column2">
            <aside>
                <span class="footer-title"> Quick Links</span>
                <a href="/home" style="text-decoration: none; color: white;"><span> Home</span></a>
                <a href="/about" style="text-decoration: none; color: white;"><span> About</span></a>
                <a href="/offers" style="text-decoration: none; color: white;"><span> Offers</span></a>
                <a href="/news" style="text-decoration: none; color: white;"><span> Package</span></a>
                <a href="/contact" style="text-decoration: none; color: white;"><span> Contact</span></a>
            </aside>
        </div>
        <div class="footer_column" id="footer_column3">
            <span class="footer-title">Contact</span>
            <span>Near Panjagutta, Ameerpet 500054</span>
            <span class="bi bi-telephone">  +088 (246) 642-27-10</span>
            <span class="bi bi-envelope"> example@gmail.com</span>
        </div>
        <div class="footer_column" id="footer_column4">
            <span class="footer-title">Follow Us</span>
            <span>Instagram</span>
            <span>Twitter</span>
            <span>LinkedIn</span>
            <span>Facebook</span>
        </div>

        <div id="footer-copyright">
            <div id="footer-hr"></div>
            <div id="copyright">
                <p>Copyright © 2025 Travel Agency</p>
            </div>
        </div>
    </footer>
</body>
</html>