<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup Page</title>
</head>
<body>
    
    {% extends 'App1/signuplogin.html' %}
    {% block body_block %}

    <div class="container">
        <h1>Pla Signup To Access Your Account</h1>
        <form method="post">
            {{form.as_p}}
            {% csrf_token %}
            <input type="submit" value="Signup">
        </form>
    </div>

    {% endblock %}

</body>
</html>