* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
#hero {   
    height: 610px;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), 
              url('../images/travel.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    animation-name: animate;
    animation-duration: 20s;
    animation-timing-function: ease-in-out;
    animation-delay: 6s;
    animation-iteration-count: infinite;
    
}
@keyframes animate {
    0% {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), 
              url('../images/travel.jpg');
    }
    20% {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), 
              url('../images/taj1.jpg');
    }
    40% {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), 
              url('../images/hyd1.jpg');
    }
    60% {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), 
              url('../images/darjeeling1.jpg');
    }
    80% {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), 
              url('../images/delhi1.jpg');
    }
    100% {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), 
              url('../images/jaipur1.jpg');
    }
}
#navdiv{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    /* font-size: 22px; */
    padding: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
}
#navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px rgb(96, 96, 96);
    font-size: 22px;
}
#title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}
#head_font {
    text-align: center;
    margin-top: 15em;
    letter-spacing: 4px;
    
}
#header_head {
    width: 300px;
    color: whitesmoke;
    background: linear-gradient(rgba(110, 108, 108, 0.5), rgba(158, 157, 157, 0.5));
    margin-left: 30em;
    padding: 7px;
    border-radius: 20px;
    margin-bottom: -2em;
}

#head_title {
    font-size: 110px;
    font-weight: bold;
    color: rgb(241, 49, 88);
}

/* Section-1 */
#section1 {
    background-color: rgb(244, 240, 240);
    height: 550px;
}
#section1-head {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#section1-firsthead {
    font-family: 'Bahnschrift';
    color: rgb(238, 74, 120);
    letter-spacing: 4px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 5em;
}
#section1-para {
    font-weight: bold;
    font-size: 40px;
    margin-top: -1%;
}
#section1-card {
    display: flex;
    margin-top: 5em;

    margin-left: 4em;
}
#section1-card img {
    border-radius: 50px;
    margin-left: 3em;
}
.card-head {
    font-size: 20px;
    font-weight: bold;
    margin-top: 0.7em;
}
.card-subhead2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 17px;
    width: 300px;
    margin-left: -3em;
}
.section2-img {
    margin-left: 3.5em;
}

/* Section-2 */
#section2 {
    height: 700px;
}
#section2_heading {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    letter-spacing: 1px;
    justify-content: center;
    align-items: center;
    font-family: 'STZhongsong';
    font-size: 28px;
    font-weight: bold;
}
#section2_imgcard {
    display: flex;
    margin-top: 4em;
}
#section2_imgcard img {
    border-radius: 40px;
    transition: .5s ease;
    position: relative;
}
#section2_img1 {
    margin-left: 11em;
    backface-visibility: hidden;
}
#section2_img2 {
    margin-left: 7em;
    backface-visibility: hidden;
}
.section2_imgcard_para {
    margin-top: -10em;
    margin-left: 1em;
    opacity: 0;
    transition: .5s ease;
    background: linear-gradient(rgba(110, 108, 108, 0.5), rgba(158, 157, 157, 0.5));
    padding: 10px;
    border-radius: 30px;
    color: white;
    position: absolute;
}
#section2_img1:hover {
    cursor: pointer;
    opacity: 0.7; 
}
#section2_img2:hover {
    cursor: pointer;
    opacity: 0.7; 
}
#section2_img1:hover .section2_imgcard_para {
    opacity: 1;
    font-size: 25px;
    color: black;
}
#section2_img2:hover .section2_imgcard_para {
    opacity: 1;
    font-size: 25px;
    color: black;
}

/* Section-3 */
#section3 {
    height: 700px;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.3)), 
              url('../images/attractive2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 14em;
    display: flex;
    position: relative;
}
#section3-div1 {
    width: 480px;
    padding: 15px;
    border-radius: 50px;
    margin-left: 4em;
    background: white;
    position: absolute;
    height: 700px;
    margin-top: 7em;
}
.section3-leftdiv {
    margin-left: 2em;
    margin-top: 2em;
}
.section3-leftdiv-img {
    margin-bottom: 1em;
}
.section3-leftdiv-head {
    margin-bottom: 0.5em;
    font-size: 24px;
    font-weight: bold;
    font-family: 'Baskerville Old Face';
    letter-spacing: 1px;
}
.section3-leftdiv-para {
    width: 380px;
    color: rgb(60, 60, 60);
}
.section3-line {
    width: 390px;
}
#seciton3-div2 {
    margin-left: 50em;
    margin-top: 7em;
}
#section3-rightdiv-whyus {
    letter-spacing: 2px;
    font-size: 17px;
    font-weight: bold;
    color: whitesmoke;
    background: linear-gradient(rgba(181, 180, 180, 0.3), rgba(189, 188, 188, 0.3));
    padding: 10px;
    width: 130px;
    height: 40px;
    border-radius: 20px;
    font-family: 'Corbel Light';
}
.section3-rightdiv-para {
    font-size: 45px;
    font-weight: bold;
    font-family: 'Constantia';
    color: white;
    width: 200px;
    letter-spacing: 1px;
    margin-top: 5%;
}

/* Review Card */
#section-review {
    height: 300px;
    width: 90%;
    max-width: 1536px;
    margin: auto;
    position: relative;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0,0,0,0),
        rgba(0,0,0,1) 20%,
        rgba(0,0,0,1) 80%,
        rgba(0,0,0,0)
    );
}
#review-maindiv {
    position: absolute;
    display: flex;
    left: 100%;
    width: fit-content;
    animation-name: scrollLeft;
    animation-duration: 30s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.review-card {
    margin-left: 1em;
    box-shadow: 1px 1px 4px black;
    width: 310px;
    padding: 10px;
}
/* .review-card:hover {
      animation-play-state: paused; 
} */
@keyframes scrollLeft {
    0% {
        left: 100%;
    }
    100% {
        left: -100%;
    }
}
.review-card1 {
    animation-delay: calc(30s / 6 * (6 - 1) * -1);
}
.review-card2 {
    animation-delay: calc(30s / 6 * (6 - 2) * -1);
}
.review-card3 {
    animation-delay: calc(30s / 6 * (6 - 3) * -1);
}
.review-card4 {
    animation-delay: calc(30s / 6 * (6 - 4) * -1);
}
.review-card5 {
    animation-delay: calc(30s / 6 * (6 - 5) * -1);
}
.review-card6 {
    animation-delay: calc(30s / 6 * (6 - 6) * -1);
}
.review-img {
    margin-top: 0.5em;
    margin-left: 0.3em;
}
.review-card-img img {
    border-radius: 100px;
}
.review-name-email {
    margin-top: 0.5em;
    margin-left: 1em;
}
.review-name {
    font-weight: bold;
    font-family: 'Constantia';
    font-size: 19px;
}
.review-email {
    margin-top: -4%;
    color: grey;
    user-select: none;
    font-size: 14px;
}
.review-para {
    margin-left: 0.4em;
    margin-top: 1em;
}
.review-rating {
    margin-left: 0.4em;
    margin-top: -3%;
    margin-bottom: 1em;
}
.review-ratingname {
    font-weight: bold;
    font-size: 18px;
    /* color: rgb(254, 203, 0); */
}
.review-rating .rating {
    color: rgb(243, 212, 16);
    margin-left: 4%;
}


/* Footer section */

footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: Arial;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}
footer span {
    display: block;
    margin-top: 20px;
}
.footer-title {
    font-weight: bold;
    font-size: 20px;
}
.footer-title img {
    background-color: white;
    border-radius: 60px;
}
.footer_column {
    margin-top: 3em;
}
#footer_column1 {
    margin-left: 2em;
}
#footer_column2 {
    margin-left: 4em;
}
#footer_column4 {
    margin-left: 3em;
}
#footer-hr {
    border: 1px solid white;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 3em;
    width: 370%;
    margin-left: 2em;
}
#footer-copyright {
    display: flex;
    flex-direction: column;
}
#copyright {
    width: 370%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -15px;
    color: #616161;
}