* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
section{
    background-color: #9de6ee;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
}
#navdiv{
    display: flex;
    justify-content: space-between;
    padding: 5px;
    margin-top: 1.5em;
}
#title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}
#navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px rgb(96, 96, 96);
    font-size: 22px;
}
#account{
    margin-right: 20px;
}
#account button{
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #bcb3b3;
}
#offer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3ce1f4;
}
#offer_text {
    font-family: 'Segoe UI';
    margin-left: 15em;
    width: 500px;
    margin-top: -5em;
    color: white;
    text-shadow: 1px 1px 3px black;
}
#offer_text1 {
    font-size: 17px;
    margin-bottom: 0.6em;
    margin-left: 1%;
}
#offer_text2 {
    font-size: 30px;
    margin-bottom: 2px;
    font-weight: bold;
}
#offer_text3 {
    font-size: 30px;
    font-weight: bold;
}
#offer_off {
    color: rgb(46, 46, 180);
    font-size: 40px;
}
#offer_text4 {
    margin-top: 1em;
}
#offer_form {
    margin-right: 12em;
    margin-bottom: 10em;
    text-align: center;
    margin-top: 5em;
    border: 1px solid white;
    width: 350px;
    box-shadow: 5px 6px 10px rgba(34, 33, 33, 0.9);
    border-radius: 10px;
    margin-left: -6em;
}
form {
    margin-top: 1em;
    margin-left: -1em;
}
form input{
    width: 300px;
    height: 35px;
    padding: 5px;
    font-size: 15px;
    margin-left: 1em;
}
#form_div2 {
    margin-top: 1em;
}
#form_book button{
    margin-top: 1em;
    width: 300px;
    margin-left:  1em;
    padding: 8px;
    color: white;
    background-color: rgb(41, 160, 41);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 19px;
    text-shadow: 1px 1px 5px black;
}
#offer_head1 {
    font-size: 22px;
    font-weight: bold;
    margin-top: 1em;
}
#offer_head2 {
    font-size: 22px;
    font-weight: bold;
}
#offer_para {
    margin-top: 1em;
    padding: 5px;
    margin-left: -2em;
    margin-bottom: 1em;
}
#offer_para a {
    text-decoration: none;
}
#offer_para1 {
    width: 280px;
    margin-left: 4em;
    gap: 10px 10px;
}
#offer_para2 {
    margin-top: 1.5%;
}
#offer_para3 {
    width: 300px;
    margin-left: 3.1em;
    margin-top: 1.5%;
}
.para-gap {
    margin-top: 1.5%;
}
/* footer section */

footer {
    background-color: black;
    color: white;
    padding: 20px;
    font-family: Arial;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr 3fr;
}
footer span {
    display: block;
    margin-top: 20px;
}
.footer-title {
    font-weight: bold;
    font-size: 20px;
}
.footer-title img {
    background-color: white;
    border-radius: 60px;
}
.footer_column {
    margin-top: 3em;
}
#footer_column1 {
    margin-left: 2em;
}
#footer_column2 {
    margin-left: 4em;
}
#footer_column4 {
    margin-left: 3em;
}
#footer-hr {
    border: 1px solid white;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-top: 3em;
    width: 370%;
    margin-left: 2em;
}
#footer-copyright {
    display: flex;
    flex-direction: column;
}
#copyright {
    width: 370%;
    text-align: center;
    margin-top: 15px;
    margin-bottom: -15px;
}
