* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
#hero {
    height: 500px;
    width: 100vw;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.1)), 
              url('../images/travel.jpg');
    background-size: cover;
    
}
#navdiv{
    display: flex;
    justify-content: space-between;
    /* font-size: 22px; */
    padding: 15px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(255, 255, 255, 0.2));
}
#navbar a {
    margin-right: 10px;
    text-decoration: none;
    color: black;
    text-shadow: 1px 1px 2px rgb(96, 96, 96);
    font-size: 22px;
}
#title {
    font-size: 30px;
    font-weight: bold;
    margin-left: 10px;
}
#account{
    margin-right: 20px;
}
#account button{
    font-size: 15px;
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
    cursor: pointer;
}
#section2 main{
    margin-top: 16%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin-left: 40%;
    font-family: 'Segoe UI';
}
#headbutton {
    width: 150px;
    padding: 7px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 10px;
    font: 15px;
    margin-top: 5px;
    margin-left: 4px;
}
#subhead1 {
    font-size: 70px;
    font-weight: bold;
    color: rgb(221, 199, 199);
}
#subhead2 {
    color: rgb(221, 199, 199);
    font-size: 20px;
    margin-top: -10px;
    margin-left: 4px;
}
#section2_head1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    background: linear-gradient(rgba(192, 88, 88, 0.2), rgba(236, 185, 56, 0.1));
    text-shadow: 1px 1px 2px rgb(96, 96, 96);
    position: relative;
    height: 140px;
}
#section2_head {
    margin-top: -20px;
}
#section2_div1 {
    margin-left: 12%;
    position: absolute;
    margin-top: -25px;
}
#card_1 {
    background-color: rgb(212, 242, 234);
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-right: 4%;
    padding: 10px;
}
#card1_div1 {
    text-align: center;
    margin-top: 10px;
}
#card_2 {
    background-color: rgb(212, 242, 234);
    width: 250px;
    border: none;
    border-radius: 5px;
    margin-right: 4%;
    padding: 10px;
}
#card_3 {
    background-color: rgb(212, 242, 234);
    border: none;
    border-radius: 5px;
    width: 250px;
    margin-right: 4%;
    padding: 10px;
}
#card_4 {
    background-color: rgb(212, 242, 234);
    border: none;
    border-radius: 5px;
    width: 250px;
    padding: 10px;
}
.card_head {
    margin-top: 15px;
    text-align: center;
    font-weight:bold;
    font-size: 17px;
    margin-bottom: 10px;
}
.card-subhead {
    font-size: 20px;
    margin-top: -3px;
}
.card-subhead2 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 17px;
}
